<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @page.site %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<p>
  <strong>Version number:</strong>
  <%= @page.version_number %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
